

body{
    margin : 0;
}


#main {
    margin: auto;
    max-width: 500px;
    min-width: 200px;
    border : 1px solid #ddd;
    padding: 20px;
}

#btnSave {
    background:cadetblue;
    padding: center;
    max-width: 50px;
    min-width: 20px;
    border : 1px solid #ff00;
    

}

    table{
        border: 1px solid #ddd;
        width : 100%; 
    }
    table td{
        border: 1px solid #ddd;
    }