body{
    background: #055;
}

#main{
    width:960px;
    min-height:500px;
    padding:25px;
    margin:auto;
    background:#fff;
    text-align: center;
}

#my_canvas{
    margin:auto;
    border:1px solid #555;
}

.numcontrol{
    width:30px;
    height:30px;
    margin-bottom: 5px;
    background-color:#4f4f4f;
    color:#fff;
    display:inline-block;
    text-align:center;
}

*{
    user-select: none;
}